<ion-content class="registro" [fullscreen]="true">
  <div class="arriba"></div>

    <div class="title">Tarjeta Virutal</div>

    <ion-list class="form">
      <img src="../../../assets/logo2.png" alt="">
      <div class="title2">
        <span>REGISTRARME</span>
      </div>

      <div class="form1" *ngIf="!this.showBTN">
        <div class="inputs">
          <ion-label>Nombres</ion-label>
          <ion-input
            type="text"
            placeholder="Escribe aquí"
            [(ngModel)]="this.user.name"
            autocomplete="off"
            autocorrect="off"
            ></ion-input>
          </div>

          <div class="inputs">
            <ion-label>Apellidos</ion-label>
            <ion-input
              type="text"
              autocomplete="off"
              autocorrect="off"
              placeholder="Escribe aquí"
              [(ngModel)]="this.user.nickname"
              ></ion-input>
            </div>

            <div class="inputs">
              <ion-label>Contraseña</ion-label>
              <ion-input
              [type]="verPassword ? 'text' : 'password'"
              [(ngModel)]="this.user.password"
              placeholder="Escribe aquí"
              autocomplete="off"
              autocorrect="off"
              autocomplete="new-password"
              [clearOnEdit]="false"
              class="input-password"
             >
               <ion-button class="btn-ver" color="white" (click)="this.VerPassword()" fill="clear" slot="end" aria-label="Show/hide">
                 <ion-icon [name]="verPassword ? 'eye-off' : 'eye'" slot="icon-only"></ion-icon>
               </ion-button>
             </ion-input>
              </div>

              <div class="inputs">
                <ion-label>Repite la contraseña</ion-label>
                <ion-input
                [type]="verPassword2 ? 'text' : 'password'"
                [(ngModel)]="this.password2"
                placeholder="Escribe aquí"
                autocomplete="off"
                autocorrect="off"
                autocomplete="new-password"
                [clearOnEdit]="false"
                class="input-password"
               >
                 <ion-button class="btn-ver" color="white" (click)="this.VerPassword2()" fill="clear" slot="end" aria-label="Show/hide">
                   <ion-icon [name]="verPassword2 ? 'eye-off' : 'eye'"  slot="icon-only"></ion-icon>
                 </ion-button>
               </ion-input>
              </div>
<!--
        <ion-input
          label="Número de celular"
          labelPlacement="floating"
          [(ngModel)]="this.user.cel"
          placeholder="Escribe aquí">
        </ion-input>
-->
    </div>

    <div class="form2" *ngIf="this.showBTN">
      <div class="msn">
        Debes tener en cuenta que el correo electrónico que ingreses debe ser único,
        estar activo y no estar registrado.
      </div>

      <div class="inputs">
        <ion-label>Correo electrónico</ion-label>
        <ion-input
          type="text"
          placeholder="example@gmail.com"
          [(ngModel)]="this.user.email"
          ></ion-input>
        </div>

        <div class="inputs">
          <ion-label>Repite el correo electrónico</ion-label>
          <ion-input
            type="text"
            placeholder="example@gmail.com"
            [(ngModel)]="this.email"
            ></ion-input>
          </div>
    </div>

      <ion-button  *ngIf="this.showBTN" (click)="create()" expand="block">Crear cuenta</ion-button>
      <ion-button class="btn-siguiente" *ngIf="!this.showBTN" (click)="Datos()" expand="block">Siguiente</ion-button>
      <ion-button *ngIf="this.showBTN" (click)="Regresar()" expand="block">Regresar</ion-button>
      <ion-button *ngIf="!this.showBTN"  [routerLink]="['/login']" expand="block">Iniciar Sesión</ion-button>
    </ion-list>

  <div class="abajo">
    <div class="rayitas">
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
    </div>
  </div>
</ion-content>
