
<ion-content class="registro" [fullscreen]="true">
  <div class="arriba"></div>
  <div class="segundario">
    <div class="title">SoftK</div>

    <div class="msn">
      Hola, Únete a nosotros
    </div>

    <ion-list class="form">
      <div class="title2">Registrarme</div>
      <ion-item class="inputs">
        <ion-input label="Nombres" labelPlacement="floating" [(ngModel)]="this.user.name" placeholder="Escribe aquí"></ion-input>
      </ion-item>
      <ion-item class="inputs">
        <ion-input label="Apellidos" labelPlacement="floating" [(ngModel)]="this.user.nickname" placeholder="Escribe aquí"></ion-input>
      </ion-item>
      <ion-item class="inputs">
        <ion-input label="Correo electrónico" type="email" labelPlacement="floating" [(ngModel)]="this.user.email" placeholder="example@gmail.com"></ion-input>
      </ion-item>
      <ion-item class="inputs">
        <ion-input label="contraseña" type="password" [(ngModel)]="this.user.password" labelPlacement="floating" placeholder="Escribe aquí la contraseña"></ion-input>
      </ion-item>
      <ion-button color="medium" (click)="create()" expand="block">Crear cuenta</ion-button>
    </ion-list>
    <a class="recuperarPassword" [routerLink]="['/login']" >Iniciar Sesión</a>
  </div>
  <div class="abajo"></div>
</ion-content>
