<ion-content [fullscreen]="true" class="codigo-principal">

  <div class="arriba">
    <div class="rayitas">
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>

      <div class="title">Cartera Virutal</div>
    </div>

    <ion-list class="form">
      <div class="title2">
        <span>Verificar cuenta</span>
      </div>

      <div class="parrafo">
        <p>
          Hemos enviado un código de 4 dígitos, ingresalo
          para poder actualizar tu contraseña.
        </p>
        <p>
        Recuerda que tienes un máximo de 3 intentos.
        </p>
        <p>
          Al pasar los 3 intentos se bloqueará tu cuenta temporalmente y deberás comunicarte  con nosotros.
          </p>
      </div>

      <div class="intento">
        <ion-label class="intento" >Intento número: <span>{{this.intentos}}</span></ion-label>
      </div>

      <div class="inputs">
        <ion-input class="input" [(ngModel)]="codigo" type="number" labelPlacement="floating" maxlength="4" (input)="codigo = codigo.toString().substring(0, 4)"></ion-input>
      </div>

      <ion-button expand="block" (click)="this.verificar()">Verificar</ion-button>
      <ion-button class="btn" expand="block" color="medium" (click)="salir()">Salir</ion-button>
       </ion-list>
  </div>
  <div class="abajo"></div>
</ion-content>
