@import 'src/global.scss';

// Safe area para contenido sin header visible
.codigo-principal{
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: env(safe-area-inset-top);
}

ion-content {
  padding-top: env(safe-area-inset-top);
  --padding-top: env(safe-area-inset-top);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 10;
  border-radius: 30px;
  background-color: $principal-color;
  width: 85%;
  height: auto;
  margin-top: 1px;
  padding: 10px;
}

.rayitas{
  margin-top: 5px;
  margin-left: 5px;
}

.rayitas ion-icon{
  color: $principal-color;;
}

.title{
  margin-top: 5px;
  width: 100%;
  font-size: 35px;
  font-weight: bolder;
  color: $principal-color;
  text-align: center;
}

.title2 span{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  color: $fondo-color;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

ion-button {
  --background: $segundario-color;
  --background-hover: $segundario-color;
  --border-radius: 30px;
  --border-color: $fondo-color;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: $fondo-color;

  margin-top: 10px;
}

.parrafo, .intento {
  width: 100%;
  background-color: $principal-color;
  font-size: 15px;
}

.intento{
  font-weight: bold;
}

.inputs{
  padding: 10px;
  background-color: $principal-color;
  display: flex;
  justify-content: center;
}

.input{
  font-size: 40px;
  width: 240px;
  background-color: $segundario-color;
  color: black;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  letter-spacing: 10px;
}

ion-list{
  margin-bottom: 10px;
}

/*fondo*/
.arriba{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.abajo{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
