
<ion-content [fullscreen]="true" class="codigo-principal">
  <div class="arriba"></div>
  <div class="segundario">
    <div class="title">SoftK</div>

    <div class="msn">
       Ya casi puedes actualizar tu contraseña
    </div>

    <ion-list class="form">
      <div class="title2">Verificar Cuenta</div>
      <ion-item>
       <p>
        Hemos enviado un codigo de 4 digitos ingresalo en las casillas,
        para poder actualizar tu contraseña.
      </p>
      <p>
       Recuerda que tienes un máximo de 3 intentos,
       al pasar estos 3 intentos se bloqueará tu cuenta temporalmente.
      </p>
      </ion-item>

      <ion-item>
        <ion-label>Intentó número: <span>{{this.intentos}}</span></ion-label>
      </ion-item>
      <ion-item class="inputs">
        <ion-input class="input" [(ngModel)]="c1" type="number" labelPlacement="floating" maxlength="1" (input)="c1 = c1.toString().substring(0, 1)"></ion-input>
        <ion-input class="input" [(ngModel)]="c2" type="number" labelPlacement="floating" maxlength="1" (input)="c2 = c2.toString().substring(0, 1)"></ion-input>
        <ion-input class="input" [(ngModel)]="c3" type="number" labelPlacement="floating" maxlength="1" (input)="c3 = c3.toString().substring(0, 1)"></ion-input>
        <ion-input class="input" [(ngModel)]="c4" type="number" labelPlacement="floating" maxlength="1" (input)="c4 = c4.toString().substring(0, 1)"></ion-input>
      </ion-item>

      <ion-button  color="medium" expand="block" (click)="this.verificar()">Verificar</ion-button>
       </ion-list>
  </div>
  <div class="abajo"></div>
</ion-content>
