<ion-content  [fullscreen]="true">
  <div class="arriba">
    <div class="rayitas">
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
    </div>

    <div class="title">Cartera Virutal</div>
  </div>

    <ion-list class="form">
      <div class="title2">
        <span>RECUPERAR CUENTA</span>
      </div>

      <div class="texto">
        Aquí podrás intentar recuperar tu contraseña!
      </div>

      <div class="inputs">
        <ion-label>Correo electrónico</ion-label>
        <ion-input
          type="text"
          placeholder="example@gmail.com"
          [(ngModel)]="this.email"
          ></ion-input>
        </div>

        <ion-button  expand="block" (click)="this.BuscarEmail()">Continuar</ion-button>
      <a [routerLink]="['/login']">Iniciar Sesión</a>

       </ion-list>

   <!--<ion-label class="lbl-net">No estás conectado a internet</ion-label>-->
</ion-content>
