
<ion-content [fullscreen]="true">
  <div class="segundario">
    <div class="title">SoftK</div>

    <div class="msn">
      Hola, aquí
      recuperas tu
      contraseña!
    </div>

    <ion-list>
      <div class="title2">Restaurar</div>
      <ion-item class="inputs">
        <ion-input label="Email" labelPlacement="floating" placeholder="example@gmail.com"></ion-input>
      </ion-item>
      <ion-button  expand="block">Recuperar</ion-button>
    </ion-list>
    <a [routerLink]="['/login']">Iniciar Sesión</a>
  </div>

</ion-content>
