@import 'src/global.scss';

// Safe area para contenido sin header visible
ion-content {
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: env(safe-area-inset-top);
  --padding-top: env(safe-area-inset-top);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 30px;
  background-color: $principal-color;
  width: 85%;
  height: auto;
  margin-top: -50px;
  padding: 10px;
}

.title{
  margin-top: 5px;
  width: 100%;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.title2 span{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: $fondo-color;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.texto{
  color: $fondo-color;
  margin-bottom: 20px;
}

.rayitas{
  margin-top: 5px;
  margin-left: 5px;
}

.rayitas ion-icon{
  color: $principal-color;
}


ion-list{
  margin-bottom: 10px;
  background-color: none;
  color: $fondo-color;
}

ion-input{
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  background-color: $segundario-color;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
}

ion-button {
  --background: $segundario-color;
  --background-hover: $segundario-color;
  --border-radius: 30px;
  --border-color: $fondo-color;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: $fondo-color;
  margin-top: 20px;
}


a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  float: right;
  margin-top: 20px;
}


@media screen and (max-height: 600px){
  .abajo{
    display: none;
  }
}
