$fondo:rgb(25, 25, 25);
$fondo2:rgba(56, 55, 55, 0.871);
$color-principal:rgba(237, 235, 235, 0.928);
ion-header{
   ion-toolbar{
    color: $color-principal;
    --background: rgb(25, 25, 25);
    font-size: 26px !important;
  }

  .btnRegresar{
    margin-left: 10px;
    color: $color-principal;
  }

  ion-title{
    color: $color-principal;
  }

}

ion-content{
  --background: $fondo;
  ion-searchbar{
    --background:$color-principal;
  }
  .msn{
    font-size: 15px;
    padding: 10px;
  }

  //parte de personas item
  .list-compartidos{
    align-items: center;
    margin-top: -15px;
    background-color: $fondo;
  }

  .personas{
    --background: $fondo;
      width: 100%;
      margin: auto;
      margin-top: 20px;
    }

    .personaNombre{
      margin-left: 10px;
    }
    .personas:hover{
      background-color: $fondo2;
    }
}


.btn-eliminar-compartido{
  margin-left: 10px;
  font-size: 15px;
}


.permisos{
  margin-left: auto;
}



.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #ff8a08;
  margin-right: auto;
}
