@import "../../../global.scss";

// Safe area para el header
ion-header {
  padding-top: env(safe-area-inset-top);
  background: var(--ion-background-color);
  
  ion-toolbar {
    padding-top: 0;
    min-height: calc(56px + env(safe-area-inset-top));
  }
}

// Ajustar contenido para safe area
ion-content {
  --padding-top: calc(env(safe-area-inset-top) + 56px);
  
  @supports (padding-top: env(safe-area-inset-top)) {
    padding-top: env(safe-area-inset-top);
  }
  
  .msn{
    font-size: 15px;
    padding: 10px;
  }

  //parte de personas item
  .list-compartidos{
    align-items: center;
    margin-top: -15px;
  }

  .personas{
      width: 100%;
      margin: auto;
      margin-top: 20px;
    }

    .personaNombre{
      margin-left: 10px;
    }
}

ion-icon{
  margin-left: 10px;
  font-size: 20px;
  color: $segundario-color;
}

.resultado-busqueda{
  background-color: $principal-color;
  color: $segundario-color;
}

.btn-eliminar-compartido{
  margin-left: 10px;
  font-size: 15px;
}


.permisos{
  margin-left: auto;
}



.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: $principal-color;
  margin-right: auto;
}
