<ion-header class="ion-no-border" mode="android">
  <ion-toolbar>
    <ion-icon class="btnRegresar" (click)="Regresar()" name="chevron-back-outline" slot="start"> </ion-icon>
      <ion-title>Compartir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-searchbar
    *ngIf="this.compartirUno.estado===true || this.creador===true"
     show-clear-button="always"
     placeholder="Escribe aquí el email, nombre o apellido."
     (input)="buscar($event)"
    ></ion-searchbar>
      <!-- Muestra los resultados en tiempo real -->
    <ion-list *ngIf="resultados.length > 0 && this.compartirUno.estado===true || this.creador===true">
      <ion-button *ngFor="let usuario of resultados" (click)="add(usuario.id,usuario.email,usuario.name,usuario.nickname)">
        {{ usuario.name }} - {{ usuario.email }}
      </ion-button>
    </ion-list>

    <!-- Muestra un mensaje si no hay resultados -->
    <div *ngIf="resultados.length === 0 ">

    </div>

    <ion-list class="list-compartidos">

      <label class="msn">Personas en el Item</label>
      <ion-item [routerLink]="['/compartir-info/',this.user.id,this.id]" class="personas">
        <div slot="start" class="avatar">{{ this.letra }}</div>
        <span slot="start" class="personaNombre"> {{this.user.email}}</span>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item [routerLink]="['/compartir-info/',compartir.iduser,this.id]" class="personas" *ngFor="let compartir of this.item.compartir; let z=index">
        <div slot="start" class="avatar">{{ compartir.nombre!.charAt(0) }}</div>
        <span slot="start" class="personaNombre"> {{compartir.email}}</span>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-content>
