@import "../../../global.scss";

ion-title{
  text-align: center;
  color: $segundario-color;
  width: 100%;
  float: right;
}


.inputs{
  margin-bottom: 20px;
  font-size: 20px;
  background-color: none;
  border: none;
}

ion-button{
  color: $segundario-color;
  font-size: 20px;
}

ion-header ion-toolbar ion-item{
  width: 60px;
  margin-top: -10px;
  position: absolute;
}



.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 30px;
  background-color: $principal-color;
  width: 85%;
  height: auto;
  margin-top: 1px;
  padding: 10px;
}


ion-list{
  background-color: none;
}



.inputs{
  color: $fondo-color;
  margin-top: 10px;
}

ion-input{
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  background-color: $segundario-color;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
}

ion-button {
  --background: $segundario-color;
  --background-hover: $segundario-color;
  --border-radius: 30px;
  --border-color: $fondo-color;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: $fondo-color;
}
