<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item  class="btn-back" [button]="true" [detail]="false" (click)="regresar()"> <ion-icon name="chevron-back-outline"> </ion-icon></ion-item>
    <ion-title>Modificar Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-list class="form">
      <div class="inputs" >
        <ion-label>Nombres:</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="this.user.name"
          placeholder="Escribe aquí"
          ></ion-input>
      </div>
      <div class="inputs" >
        <ion-label>Apellidos:</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="this.user.nickname"
          placeholder="Escribe aquí"
          ></ion-input>
      </div>
      <div class="inputs" >
        <ion-label>Celular:</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="this.user.cel"
          placeholder="Escribe aquí"
          ></ion-input>
      </div>

      <ion-button class="btn-ingresar"  (click)="actualizar()" expand="block">Ingresar</ion-button>
    </ion-list>


</ion-content>
