@import "../../../global.scss";

// Safe area para el header
ion-header {
  padding-top: env(safe-area-inset-top);
  background: #027abb;
  
  ion-toolbar {
    padding-top: env(safe-area-inset-top);
    min-height: calc(56px + env(safe-area-inset-top));
  }
}

// Ajustar contenido para safe area
ion-content {
  --background: #027abb !important;
  --padding-top: calc(env(safe-area-inset-top) + 56px);
  padding-top: env(safe-area-inset-top);
  
  .header{
    ion-avatar{
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: white;
      color: $principal-color;
      font-size: 70px;
      margin: auto;
    }
    ion-icon{
      font-size: 25px;
      opacity: 0.8;
      color: $segundario-color;
    }
    .info{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
        span{
          font-size: 20px;
          margin: 0 auto;
          margin-left: 10px;
        }
    }
  }


  .informacion{
    background-color: $fondo;
    height: 98vh;
    margin-top: 2px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    overflow-y: scroll;
    ion-icon{
      font-size: 20px;
    }
    ion-list{
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      ion-item{
        width: 100%;
      }
      ion-card{
        border-radius: 10px;
        width: 100%;;
      }
      ion-card:hover{
        background-color: $principal-color;
      }
    }
  }
}
