<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list" lines="none">
    <ion-item [button]="true" detail="false" (click)="this.Ruta('2')" class="principal" expand="full">
      <div class="subprincipal">
        <div class="avatar">K</div>
        <div class="texto">Kevin Andrades te ha añadido en el item Prueba 1</div>
        <div class="reaciones"><span class="vistos"><span>2</span>/4</span> <span class="comentarios"><ion-icon name="chatbubble-outline"></ion-icon> 24</span></div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
