<div class="container">

<ion-label *ngIf="this.items.length>0">Tarjetas abiertas recientemente</ion-label>
<ion-list class="list-tarjeta" *ngIf="this.items.length>0">

  <ion-item class="item-tarjeta" *ngFor="let item of items.slice(0,4)">
    <ion-card class="custom-card" [style.color]="item.colorLetra" [ngClass]="item.NombreTarjeta"  [ngStyle]="getCssVariables(item.ColorFondo!)" (click)="this.Ruta(item.id!)">
      <div class="card-header">
       <ion-icon [style.color]="item.colorLetra" name={{item.icono}} class="chip-icon"></ion-icon>
        <span class="card-type">{{ item.itemname }}</span>
      </div>
      <div class="softk-brand">SoftK</div>
    </ion-card>
  </ion-item>

<!--
  <ion-item class="ver">
    <ion-card class="custom-card ver">
      <div class="card-header2">Ver más <ion-icon name="chevron-forward-outline"></ion-icon></div>
    </ion-card>
  </ion-item>
-->
</ion-list>
<ion-label *ngIf="this.items.length>0">Notas abiertas recientemente</ion-label>
<ion-list>
  <ion-item-sliding *ngFor="let nota of this.notas">
    <ion-item *ngIf="nota.tipo==='lista'"  (click)="this.Verlista(true,nota)">
      <ion-label>{{ nota.titulo }}</ion-label>
     </ion-item>
    <ion-item *ngIf="nota.tipo==='nota'" (click)="this.VerNota(true,nota)">
      <ion-label>{{ nota.titulo }}</ion-label>
    </ion-item>

    <ion-item-options side="end" expand="full">
      <ion-item-option color="warning" (click)="this.LinkCompartir(nota.id!)">
        Compartir
      </ion-item-option>
      <ion-item-option color="danger" (click)="this.Eliminar(nota.id!)">
        Eliminar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>



<!--Modal1 listas items-->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false,'')">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!--Actualizar la lista-->
    <ion-content class="ion-padding" >
      <div>
        <ion-input placeholder="Título" [(ngModel)]="this.UpdateList.titulo" [counter]="true" maxlength="30"></ion-input>
      </div>
      <div>
        <ion-item>
          <ion-textarea placeholder="Agregar item" autoGrow="true" [(ngModel)]="this.Acitem.texto"></ion-textarea>
          <ion-button fill="clear" color="success" (click)="this.ActualizarItem()"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
        </ion-item>
        <ng-container *ngFor="let item of this.UpdateList.items; let i = index">
          <ion-item *ngIf="!item.estado">
            <ion-checkbox (click)="this.CambioEstado(i, true)" [checked]="false"></ion-checkbox>
            <ion-textarea class="text-view" [(ngModel)]="item.texto" autoGrow="true"></ion-textarea>
            <ion-button fill="clear" color="danger" (click)="this.EliminarItem(i)">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>


        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Items completados</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ng-container *ngFor="let item of this.UpdateList.items; let i = index">
                <ion-item *ngIf="item.estado">
                  <ion-checkbox (click)="this.CambioEstado(i, false)" [checked]="true"></ion-checkbox>
                  <ion-textarea class="text-view" [(ngModel)]="item.texto" autoGrow="true"></ion-textarea>
                  <ion-button fill="clear" color="danger" (click)="this.EliminarItem(i)">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<!--Modal2-->
<ion-modal [isOpen]="isModalOpen2">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen2(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="div-texto">
        <ion-textarea placeholder="Escribe aquí..."(ngModelChange)="guardarNota()" [(ngModel)]="this.UpdateNote.texto" class="texto" autoGrow="true"></ion-textarea>
      </div>
    </ion-content>

  </ng-template>
</ion-modal>



<ion-label *ngIf="this.itemsC.length>0">Últimas Tarjetas compartidas</ion-label>
<ion-list *ngIf="this.itemsC.length>0">
  <ion-item *ngIf="this.itemc1">
    <ion-card class="custom-card" [style.color]="itemc1.colorLetra" [ngClass]="itemc1.NombreTarjeta"  [ngStyle]="getCssVariables(itemc1.ColorFondo!)" (click)="this.Ruta(itemc1.id!)">
      <div class="card-header">
       <ion-icon [style.color]="itemc1.colorLetra" name={{itemc1.icono}} class="chip-icon"></ion-icon>
        <span class="card-type">{{ this.itemc1.itemname }}</span>
      </div>
      <div class="softk-brand">SoftK</div>
    </ion-card>
  </ion-item>
  <ion-item *ngIf="this.itemc2">
    <ion-card class="custom-card" [style.color]="itemc2.colorLetra" [ngClass]="itemc2.NombreTarjeta"  [ngStyle]="getCssVariables(itemc2.ColorFondo!)" (click)="this.Ruta(itemc2.id!)">
      <div class="card-header">
        <ion-icon [style.color]="itemc2.colorLetra" name={{itemc2.icono}} class="chip-icon"></ion-icon>
        <span class="card-type">{{ this.itemc2.itemname }}</span>
      </div>
      <div class="softk-brand">SoftK</div>
    </ion-card>
  </ion-item>
  <ion-item *ngIf="this.itemc3">
    <ion-card class="custom-card" [style.color]="itemc3.colorLetra" [ngClass]="itemc3.NombreTarjeta"  [ngStyle]="getCssVariables(itemc3.ColorFondo!)" (click)="this.Ruta(itemc3.id!)">
      <div class="card-header">
        <ion-icon [style.color]="itemc3.colorLetra" name={{itemc3.icono}} class="chip-icon"></ion-icon>
        <span class="card-type">{{ this.itemc3.itemname }}</span>
      </div>
      <div class="softk-brand">SoftK</div>
    </ion-card>
  </ion-item>
  <ion-item *ngIf="this.itemc4">
    <ion-card class="custom-card" [style.color]="itemc4.colorLetra" [ngClass]="itemc4.NombreTarjeta"  [ngStyle]="getCssVariables(itemc4.ColorFondo!)" (click)="this.Ruta(itemc4.id!)">
      <div class="card-header">
        <ion-icon [style.color]="itemc4.colorLetra" name={{itemc4.icono}} class="chip-icon"></ion-icon>
        <span class="card-type">{{ this.itemc4.itemname }}</span>
      </div>
      <div class="softk-brand">SoftK</div>
    </ion-card>
  </ion-item>
<!--
  <ion-item class="ver">
    <ion-card class="custom-card ver">
      <div class="card-header2">Ver más <ion-icon name="chevron-forward-outline"></ion-icon></div>
    </ion-card>
  </ion-item>
-->
</ion-list>

</div>
