@import '../../global.scss';

.button-icon {
  float: right;
  cursor: pointer;
}

.button{
  font-size: 18px;
  height: 45px;
  --background:#5d4037;
  width: 100%;
}

ion-segment-button{
  --color-checked:#9f8781 ;
}

.segmen-boton{
  display: flex;
  justify-content: center;
}

.slide-tarjetas{
  margin: auto;
  display: flex;
  justify-content: center;
}
