<ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span>Inicio</span>
      <ion-icon (click)="openPopover($event)" class="button-icon" name="ellipsis-vertical-outline"></ion-icon>
    </ion-title>
    <ion-progress-bar *ngIf="this.isLoading===true" color="warning" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-header class="header2" slot="fixed" [translucent]="true">
  <ion-segment  [scrollable]="true">
    <ion-segment-button value="ALL" content-id="ALL">
      <ion-label>ALL</ion-label>
    </ion-segment-button>
    <ion-segment-button value="TARJETAS" content-id="TARJETAS">
      <ion-label>TARJETAS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="LISTAS" content-id="LISTAS">
      <ion-label>LISTAS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="COMPARTIDAS" content-id="COMPARTIDAS">
      <ion-label>COMPARTIDAS</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment-view>
 <!-- Slide RECIENTES -->
  <ion-segment-content id="ALL">
    <app-reciente [items]="this.items"></app-reciente>
  </ion-segment-content>
<!-- Slide Tarjetas -->
<ion-segment-content class="segmen-boton" id="TARJETAS">
  <app-tarjetas [items]="this.items"></app-tarjetas>
</ion-segment-content>
<!-- Slide listas -->
<ion-segment-content class="segmen-boton" id="LISTAS">
  <ion-label>No disponible</ion-label>
</ion-segment-content>
<!-- Slide COMPARTIDAS -->
<ion-segment-content class="segmen-boton" id="COMPARTIDAS">
  <app-compartidas [items2]="this.items2"></app-compartidas>
</ion-segment-content>
</ion-segment-view>

<ion-popover #popover [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item>Ordenar por </ion-item>
          <ion-item [button]="true" (click)="Ordenar('nombre')" [detail]="false">Nombre</ion-item>
          <ion-item [button]="true" (click)="Ordenar('favorito')" [detail]="false">Favorito</ion-item>
          <ion-item [button]="true" (click)="Ordenar('reciente')" [detail]="false">Fecha</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
