.list-principal{
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

label{
  margin-left: 20px;
  font-size: 20px;
}

.inputItem{
  margin-top: 20px;
  border: 2px solid;
  border-radius: 20px;
  height: 60px;
  margin-bottom: 20px;
}

ion-button{
  font-size: 18px;
  height: 45px;
}
