<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
    <ion-progress-bar *ngIf="this.isLoading===true" color="warning" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-list class="list-principal">

    <ion-item class="item-input">
      <ion-input
            label="Nombre del Item"
            labelPlacement="floating"
            [(ngModel)]="this.item.itemname"
            placeholder="Escribe aquí el nombre del Item">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-item>
          <ion-select aria-label="Color" [(ngModel)]="this.item.color" interface="action-sheet" placeholder="Selecciona el color">
            <ion-select-option value="primary">Primary</ion-select-option>
            <ion-select-option value="secondary">Secondary</ion-select-option>
            <ion-select-option value="tertiary">Tertiary</ion-select-option>
            <ion-select-option value="success">Success</ion-select-option>
            <ion-select-option value="warning">Warning</ion-select-option>
            <ion-select-option value="danger">Danger</ion-select-option>
            <ion-select-option value="light">Light</ion-select-option>
            <ion-select-option value="medium">Medium</ion-select-option>
            <ion-select-option value="dark">Dark</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-button  color="medium" (click)="Guardar()" expand="full">Guardar</ion-button>
 </ion-list>

 <ion-grid class="colores">
  <app-colores></app-colores>
</ion-grid>


</ion-content>
