<ion-header style="--background: #1f1f1f" [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Nueva Tarjeta
    </ion-title>
    <ion-progress-bar *ngIf="this.isLoading===true" color="warning" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="principal">
      <div class="div-form">
        <ion-item>
         <ion-input
               label="Nombre de la tarjeta"
               labelPlacement="floating"
               [(ngModel)]="this.item.itemname"
               [counter]="true"
               maxlength="15"
               placeholder="Escribe aquí el nombre del Item">
         </ion-input>
       </ion-item>
       <ion-item>
         <ion-select [(ngModel)]="this.item.icono" placeholder="Selecciona un icono">
           <div slot="label">Iconos</div>
           <ion-select-option *ngFor="let icon of this.listaIconos" [value]="icon">
             <ion-icon value={{icon}} [name]="icon" slot="start"></ion-icon> {{ icon }}
           </ion-select-option>
         </ion-select>
       </ion-item>
       <ion-item [disabled]="this.tarjeta.nombreCSS!=='principal-dinamica'">
         <ion-toggle aria-label="Color letra" [(ngModel)]="this.colorletra" (click)="this.ColorDeLetra()" [enableOnOffLabels]="true" color="dark" [checked]="true">Color de letra</ion-toggle>
       </ion-item>
        <ion-item [disabled]="this.tarjeta.nombreCSS!=='principal-dinamica'">
         <ion-toggle aria-label="Color letra" (click)="this.EstadoHistorial()" [enableOnOffLabels]="true" color="dark" [checked]="false">Historial</ion-toggle>
          </ion-item>
        <ion-item *ngIf="this.item.estadohistorial" [disabled]="this.tarjeta.nombreCSS!=='principal-dinamica'">
          <ion-note slot="end"> Al activar esta opción, el historial mensual de esta tarjeta se guardará automáticamente cada primer día del mes. </ion-note>
        </ion-item>
       <ion-item [disabled]="this.tarjeta.nombreCSS!=='principal-dinamica'">
         <input type="color" class="picker" [(ngModel)]="this.item.ColorFondo!" [style.background]="getGradientColor()"/>
        </ion-item>
       <ion-item>
        <ion-button class="button" (click)="this.Guardar()">GUARDAR </ion-button>
      </ion-item>

       </div>
       <div class="tarjeta">
         <ion-card [style.color]="this.item.colorLetra" class="custom-card" [ngClass]="this.tarjeta.nombreCSS">
             <div class="card-header">
               <ion-icon [style.color]="this.item.colorLetra" name={{this.item.icono}} class="chip-icon"></ion-icon>
               <span class="card-type">{{ this.item.itemname }}</span>
             </div>

             <div class="card-balance">Saldo: $00000</div>

             <div class="card-number">**** **** **** {{ idTarjeta.slice(-4) }}</div>

             <div class="card-footer">
               <div *ngIf="esCompartida" class="shared-info">
                 <ion-icon name="people"></ion-icon>
                 <span> 2 Compartidas</span>
                 <span class="owner-name">Creada por: </span>
               </div>
               <span class="creation-date">{{ this.item.fecha }}</span>
             </div>

             <div class="softk-brand">SoftK</div>
         </ion-card>
        </div>
           <div class="lista-predeterminada">
             <app-tarjetas-predeterminadas (Tselecionada)="this.RecibirTarjeta($event)"></app-tarjetas-predeterminadas>
           </div>
          </div>
</ion-content>
