.list-principal{
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

label{
  margin-left: 20px;
  font-size: 20px;
}

ion-input{
  margin-top: 20px;
  border-bottom: 1px solid;
  font-size: 18px;
  margin-bottom: 20px;
}

ion-button{
  font-size: 18px;
  height: 45px;
}

.colores{
  width: 90%;
}

ion-header ion-toolbar ion-title{
  color:#ff8a08;
}
