@import '../../global.scss';

.salir{
  color: $segundario-color;
}


a{
  text-decoration: none;
  color: $segundario-color;
}

.item-icono{
  color: $cuarto-color;
}


.icon-ultima{
  margin-right: 10px;
  color: $cuarto-color;
}

.mis-datos{
  width: 100%;
}

ion-accordion-group{
  width: 100%;
}

.ion-padding ion-item{
  color: $segundario-color !important;
}