<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información
    </ion-title>
    <ion-progress-bar *ngIf="this.isLoading===true" color="warning" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-input label="ID" value={{this.user.id}} [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre" value={{this.user.name}} [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellidos" value={{this.user.nickname}} [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Correo" value={{this.user.email}} [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Desarrollado por" value="SoftK" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Fecha de cración" value="31/12/2023" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Versión" value="2.0" [disabled]="true"></ion-input>
    </ion-item>
    <ion-button fill="clear" class="salir" (click)="salir()" expand="full">Salir</ion-button>
  </ion-list>

</ion-content>
