@import '../../global.scss';

.salir{
  color: $principal-color;
}


a{
  text-decoration: none;
  color: gray;
}

.item-icono{
  color: $principal-color;
}

.icon-ultima{
  margin-right: 10px;
}

.mis-datos{
  width: 100%;
}

ion-accordion-group{
  width: 100%;
}
