<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{this.item.itemname}}
    <ion-button fill="clear" class="btns2 regresar"  (click)="regresar()">
       <ion-icon name="chevron-back-outline"> </ion-icon>
    </ion-button>
    <ion-button fill="clear" class="btns2" id="popover-button2">
      <ion-icon name="ellipsis-vertical-outline"   slot="end"></ion-icon>
    </ion-button>

    <ion-button class="btns2" *ngIf="this.item.favorito===false && this.creador===true" (click)="Favorito()" fill="clear">
      <ion-icon name="heart-dislike-outline"></ion-icon>
    </ion-button>

    <ion-button class="btns2" *ngIf="this.item.favorito===true && this.creador===true" (click)="Favorito()" fill="clear">
      <ion-icon name="heart-sharp"></ion-icon>
    </ion-button>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="this.compartirUno.estado===true || this.creador===true">
    <ion-segment >
      <ion-segment-button (click)="Festado('activar')" value="true">
        <ion-label><ion-icon name="eye-outline"></ion-icon></ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="Festado('desactivar')"value="false">
        <ion-label><ion-icon name="eye-off-outline"></ion-icon></ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-progress-bar *ngIf="this.isLoading===true" color="warning" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none" >
    <ion-item #capturableArea [id]="'item-' + x" *ngFor="let res of this.item.tarjetas; let x=index;" [disabled]="this.item.estado">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{res.nombre}}
             <ion-button *ngIf="this.compartirUno.estado===true || this.creador===true" class="estado" id="present-alert4" (click)="EliminarItem(x)" fill="clear" color={{res.color}}><ion-icon class="estado-icono" name="close-outline"></ion-icon></ion-button></ion-card-title>
         <!--Titulos de las cantidades-->
         <ion-card-subtitle class="subvalores" *ngIf="res.Vinicial">
            <span class="left">${{formatNumberMil(res.Valor!)}}</span>
            <span class="center">${{formatNumberMil(res.subtotal)}}</span>
            <span class="right">${{formatNumberMil(res.Valor!+res.subtotal) }}</span>
         </ion-card-subtitle>
         <ion-card-subtitle class="subvalores" *ngIf="!res.Vinicial">
          <span class="left">${{Positivo(x)}}</span>
          <span class="center">${{Negativo(x)}}</span>
          <span class="right">${{formatNumberMil(res.subtotal) }}</span>
       </ion-card-subtitle>

          <ion-button  expand="full" color={{res.color}}  (click)="show(x)"><ion-icon name="eye-outline"></ion-icon></ion-button>
        </ion-card-header>
      <ion-card-content *ngIf="cardStates[x]===true">
        <ion-item>
          <ion-grid class="grid-principal">
            <ion-row>
              <ion-col class="valor">Valor</ion-col>
              <ion-col class="ver">Ver</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row *ngFor="let item2 of res.depositos; let z=index">
              <ion-col class="valor">${{formatNumberMil(item2.valor)}}</ion-col>
              <ion-col *ngIf="this.compartirUno.estado===true || this.creador===true" class="ver btnVer">
                <ion-button
                  (click)="this.presentActionSheetEliminar(x,z)"
                  color={{res.color}}>
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-list>

        <div class="btns" *ngIf="this.compartirUno.estado===true || this.creador===true">
          <ion-item class="list-form">
            <ion-input class="itemInput" type="number" [(ngModel)]="this.deposito.valor" label="Ingresa el valor" label-placement="floating"></ion-input>
          </ion-item>
          <ion-item class="list-form">
            <ion-textarea label="Comentario" class="itemInput" labelPlacement="floating" [(ngModel)]="this.deposito.comentario" [counter]="true" maxlength="60"></ion-textarea>
          </ion-item >
          <ion-item class="list-btns">
            <ion-button class="btnoption" (click)="depositar(x,'sumar')" color="success"><ion-icon name="add-outline"></ion-icon></ion-button>
          <ion-button class="btnoption" (click)="depositar(x,'restar')" color="warning"><ion-icon name="remove-outline"></ion-icon></ion-button>
          </ion-item>

        </div>
        <ion-button color={{res.color}} (click)="CapturaPantalla(x)" expand="full"><ion-icon name="camera-outline"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
    </ion-item>
    <ion-item>Total: $ <span>{{this.totalTemp}}</span> </ion-item>
  </ion-list>

  <ion-content class="ion-padding">
    <ion-modal  [isOpen]="openModal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Crear Tarjeta</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-input
              label="Nombre"
              labelPlacement="stacked"
              type="text"
              placeholder="Escribe aquí"
              [(ngModel)]="this.tarjeta.nombre"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle [enableOnOffLabels]="false" (click)="this.FingresarValor()">Valor Inicial</ion-toggle>
          </ion-item>
          <ion-item *ngIf="this.tarjeta.Vinicial===true">
            <ion-input
              label="Valor"
              labelPlacement="stacked"
              type="number"
              placeholder="Ingresa el valor"
              [(ngModel)]="this.tarjeta.Valor"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-select aria-label="Color" [(ngModel)]="this.tarjeta.color" interface="action-sheet" placeholder="Selecciona el color">
              <ion-select-option value="primary">Primary</ion-select-option>
              <ion-select-option value="secondary">Secondary</ion-select-option>
              <ion-select-option value="tertiary">Tertiary</ion-select-option>
              <ion-select-option value="success">Success</ion-select-option>
              <ion-select-option value="warning">Warning</ion-select-option>
              <ion-select-option value="danger">Danger</ion-select-option>
              <ion-select-option value="light">Light</ion-select-option>
              <ion-select-option value="medium">Medium</ion-select-option>
              <ion-select-option value="dark">Dark</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
             <ion-grid class="colores">
                <app-colores></app-colores>
             </ion-grid>
           </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

  <ion-popover  trigger="popover-button2" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list *ngIf="this.compartirUno.estado===true || this.creador===true">
          <ion-item [button]="true" id="nested-trigger">Ordenar Por</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="openModal = !openModal">Nuevo</ion-item>
          <ion-item *ngIf="this.creador===true" [button]="true" [detail]="false" (click)="EditarNombreTarjeta()">Editar</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="Compartir()">Compartir</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="openModal2 = !openModal2">Eliminar</ion-item>

          <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item>Ordenar por </ion-item>
                  <ion-item [button]="true" class="nameSpan" (click)="Ordenar('nombre')" [detail]="false">Nombre</ion-item>
                  <ion-item [button]="true" class="nameSpan" (click)="Ordenar('favorito')" [detail]="false">Favorito</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-list>

        <ion-list *ngIf="this.compartirUno.estado===false">
          <ion-item [button]="true" [detail]="false" (click)="setOpen(true)">Ver Integrantes</ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>
