ion-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-router-outlet {
  flex: 1;
  overflow-y: auto;
}

ion-title{
  margin-top: 20px;
  font-size: 20px;
  color: #ff8a08;
}

ion-card,ion-card-content{
  width: 100%;
}

ion-card-content[style='true'] {
  display: block;
}

a{
 text-decoration: none;
}

.itemInput {
  margin-right: 10px; /* Ajusta según sea necesario */
  font-size: 16px;
  width: 100%;
}

.btnoption{
  height: 50px;
  width: 50px;
}

.list-form{
  border-bottom: 1px solid gray;
  width: 90%;
}

.btnoption ion-icon{
  font-size: 23px;
}

button.alert-button.alert-button-confirm {
  background-color: red;
}

ion-card-title{
  width: 100%;
}

.estado{
  width: 20%;
  float: right;
  font-size: 20px;
  margin-top: -10px;
}

.btns2{
  font-size: 20px;
  float: right;
  margin-left: auto;
  margin-top: -10px;
}

.btns2 ion-icon{
  color: #ff8a08;
}

.regresar{
  float: left;
  margin-left: -30px;;
}

.regresar ion-icon{
  color: gray;
}

.ver{
  float: right;
  text-align: right;
}

.valor{
  float: left;
}

.btnVer{
  font-size: 22px;
  margin-top: -20px;
  margin-right: -12px;
}

ion-segment-button{
  font-size: 25px;
  color: white;
}

.list-compartidos{
  margin-top: 10px;
}

.btn-eliminar-compartido{
  margin-left: 10px;
  font-size: 15px;
}

.permisos{
  margin-left: 12px;
}

.subvalores{
  display: flex;
  justify-content: space-between;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

ion-list{
  width: 100%;
  padding: 0;
  margin: 0;
}

/*-----------------------------Mover los bolsillos------------------------*/
ion-reorder-group{
  width: 100%;
}



/*-----------------------------------------------------------------------*/
ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}
