<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{this.item.itemname}}
    <ion-button fill="clear" class="btns2 regresar"  (click)="regresar()">
       <ion-icon name="chevron-back-outline"> </ion-icon>
    </ion-button>
    <ion-button fill="clear" class="btns2" id="popover-button2">
      <ion-icon name="ellipsis-vertical-outline"   slot="end"></ion-icon>
    </ion-button>

    <ion-button class="btns2" *ngIf="this.item.favorito===false && this.creador===true" (click)="Favorito()" fill="clear">
      <ion-icon name="heart-dislike-outline"></ion-icon>
    </ion-button>

    <ion-button class="btns2" *ngIf="this.item.favorito===true && this.creador===true" (click)="Favorito()" fill="clear">
      <ion-icon name="heart-sharp"></ion-icon>
    </ion-button>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="this.compartirUno.estado===true || this.creador===true">
    <ion-segment >
      <ion-segment-button (click)="Festado('activar')" value="true">
        <ion-label><ion-icon name="eye-outline"></ion-icon></ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="Festado('desactivar')"value="false">
        <ion-label><ion-icon name="eye-off-outline"></ion-icon></ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-progress-bar *ngIf="this.isLoading===true" color="warning" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none" >
    <ion-item [disabled]="this.item.estado">
      <ion-reorder-group [disabled]="isDisabled" (ionItemReorder)="handleReorder($any($event))">
        <ion-item class="item-card-principal" #capturableArea [id]="'item-' + x" *ngFor="let res of this.item.tarjetas; let x=index;">
        <ion-card>
            <ion-card-header>
              <ion-card-title>{{res.nombre}}
                <ion-item [button]="true" class="btn-bolsillos-opc" [detail]="false" [id]="'popover-' + x" *ngIf="this.compartirUno.estado===true || this.creador===true" class="estado" fill="clear">
                  <ion-icon name="settings" [style.color]="res.color" ></ion-icon>

                  <ion-popover [trigger]="'popover-' + x" [dismissOnSelect]="true" alignment="start" size="auto">
                    <ng-template>
                      <ion-content>
                        <ion-list>
                          <ion-item [button]="true" [detail]="false" (click)="openModalEditar = !openModalEditar; this.EditarBolsillo(x)">Editar bolsillo</ion-item>
                          <ion-item [button]="true" [detail]="false" (click)="EliminarItem(x)">Eliminar bolsillo</ion-item>
                          <ion-item [button]="true" [detail]="false" (click)="EliminarDepositos(x)">Eliminar depositos</ion-item>
                        </ion-list>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-item>
              </ion-card-title>
            <!--Titulos de las cantidades-->
            <ion-card-subtitle class="subvalores" *ngIf="res.Vinicial">
              <span class="left">${{formatNumberMil(res.Valor!)}}</span>
              <span class="center">${{formatNumberMil(res.subtotal)}}</span>
              <span class="right">${{formatNumberMil(res.Valor!+res.subtotal) }}</span>
            </ion-card-subtitle>
            <ion-card-subtitle class="subvalores" *ngIf="!res.Vinicial">
              <span class="left">${{Positivo(x)}}</span>
              <span class="center">${{Negativo(x)}}</span>
              <span class="right">${{formatNumberMil(res.subtotal) }}</span>
          </ion-card-subtitle>
              <ion-button expand="full" [style.--background]="res.color" (click)="show(x)"><ion-icon name="eye-outline"></ion-icon></ion-button>
            </ion-card-header>
          <ion-card-content *ngIf="cardStates[x]===true">
            <ion-item>
              <ion-grid class="grid-principal">
                <ion-row>
                  <ion-col class="valor">Valor</ion-col>
                  <ion-col class="ver">Ver</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-list>
            <ion-item>
              <ion-grid>
                <ion-row *ngFor="let item2 of res.depositos; let z=index">
                  <ion-col class="valor">${{formatNumberMil(item2.valor)}}</ion-col>
                  <ion-col *ngIf="this.compartirUno.estado===true || this.creador===true" class="ver btnVer">
                    <ion-button
                      (click)="this.presentActionSheetEliminar(x,z)"
                      [style.--background]="res.color">
                      <ion-icon name="eye-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

          </ion-list>

            <div class="btns" *ngIf="this.compartirUno.estado===true || this.creador===true">
              <ion-item class="list-form">
                <ion-input class="itemInput" type="number" [(ngModel)]="this.deposito.valor" label="Ingresa el valor" label-placement="floating"></ion-input>
              </ion-item>
              <ion-item class="list-form">
                <ion-textarea label="Comentario" class="itemInput" labelPlacement="floating" [(ngModel)]="this.deposito.comentario" [counter]="true" maxlength="60"></ion-textarea>
              </ion-item >
              <ion-item class="list-btns">
                <ion-button class="btnoption" (click)="depositar(x,'sumar')" color="success"><ion-icon name="add-outline"></ion-icon></ion-button>
              <ion-button class="btnoption" (click)="depositar(x,'restar')" color="warning"><ion-icon name="remove-outline"></ion-icon></ion-button>
              </ion-item>

            </div>
            <ion-button [style.--background]="res.color" (click)="CapturaPantalla(x)" expand="full"><ion-icon name="camera-outline"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
    </ion-item>
    <ion-item class="msn-totales">Totales</ion-item>
    <ion-item class="totales">
      <span class="left">${{formatNumberMil(this.positivo)}}</span>
      <span class="center">${{formatNumberMil(this.negativo)}}</span>
      <span class="right">${{formatNumberMil(this.Totalresultado)}}</span>
    </ion-item>
  </ion-list>

  <ion-content class="ion-padding">
    <ion-modal #modal [isOpen]="openModal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="btnModals" (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Crear Bolsillo</ion-title>
            <ion-buttons slot="end">
              <ion-button class="btnModals" (click)="confirm()" [strong]="true">Confirmar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-input
              label="Nombre"
              labelPlacement="stacked"
              type="text"
              placeholder="Escribe aquí"
              [(ngModel)]="this.tarjeta.nombre"
              [counter]="true"
              maxlength="12"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle [enableOnOffLabels]="false" (click)="this.FingresarValor()">Valor Inicial</ion-toggle>
          </ion-item>
          <ion-item *ngIf="this.tarjeta.Vinicial===true">
            <ion-input
              label="Valor"
              labelPlacement="stacked"
              type="number"
              placeholder="Ingresa el valor"
              [(ngModel)]="this.tarjeta.Valor"
            ></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Color:</ion-label>
            <input type="color" class="color" [(ngModel)]="this.tarjeta.color"/>
          </ion-item>
          <ion-item>
           </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

  <ion-content class="ion-padding">
    <ion-modal #modalEditar [isOpen]="openModalEditar" (willDismiss)="onWillDismissE($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="btnModals" (click)="cancel2()">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Editar Bolsillo</ion-title>
            <ion-buttons slot="end">
              <ion-button class="btnModals" (click)="confirmEditar()" [strong]="true">Confirmar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-input
              label="Nombre"
              labelPlacement="stacked"
              type="text"
              placeholder="Escribe aquí"
              [(ngModel)]="this.tarjetaEditar.nombre"
              [counter]="true"
              maxlength="12"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle [enableOnOffLabels]="false" (click)="this.FingresarValor()">Valor Inicial</ion-toggle>
          </ion-item>
          <ion-item *ngIf="this.tarjetaEditar.Vinicial===true">
            <ion-input
              label="Valor"
              labelPlacement="stacked"
              type="number"
              placeholder="Ingresa el valor"
              [(ngModel)]="this.tarjetaEditar.Valor"
            ></ion-input>
          </ion-item>
          <ion-item >
            <ion-label>Color:</ion-label>
            <input type="color" class="color" [(ngModel)]="this.tarjetaEditar.color"/>
          </ion-item>
          <ion-item>
           </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

  <ion-popover  trigger="popover-button2" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list *ngIf="this.compartirUno.estado===true || this.creador===true">
          <ion-item [button]="true" id="nested-trigger">Ordenar Por</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="openModal = !openModal">Nuevo</ion-item>
          <ion-item *ngIf="this.creador===true" [button]="true" [detail]="false" (click)="this.EditarNombreTarjeta()">Editar</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="Compartir()">Compartir</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="this.EliminarTarjeta()">Eliminar Tarjeta</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="toggleReorder()">Mover tarjetas</ion-item>

          <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item>Ordenar por </ion-item>
                  <ion-item [button]="true" class="nameSpan" (click)="Ordenar('nombre')" [detail]="false">Nombre</ion-item>
                  <ion-item [button]="true" class="nameSpan" (click)="Ordenar('favorito')" [detail]="false">Favorito</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-list>

        <ion-list *ngIf="this.compartirUno.estado===false">
          <ion-item [button]="true" [detail]="false" (click)="setOpen(true)">Ver Integrantes</ion-item>
          <ion-item [button]="true" [detail]="false" (click)="this.EliminarCompartida(this.user.id!)">Eliminar compartida</ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>
