<ion-content  [fullscreen]="true">
  <div class="arriba">
    <div class="rayitas">
      <ion-icon name="ellipse"></ion-icon>
    </div>

    <div class="title">Cartera Virtual</div>
  </div>

    <ion-list class="form">
      <div class="title2">
        <span>VERIFICAR CUENTA</span>
      </div>

      <div class="texto">
        Para comenzar necesitamos que verificar que eres tu, por eso se ha enviando un código de seguridad  a tu correo electrónico, por favor ingresalo.
      </div>

      <div class="inputs">
        <ion-input  [(ngModel)]="codigo" type="number" labelPlacement="floating"></ion-input>
      </div>

      <div class="btn2">
        <ion-button color="light" expand="block" (click)="this.NuevoCodigo()">No recibí ningún código</ion-button>
      </div>

      <ion-button class="btn verificar" expand="block" (click)="this.verificar()">Verificar</ion-button>
      <ion-button color="medium" class="btn" [routerLink]="['/login']" expand="block">CANCELAR</ion-button>
       </ion-list>

   <!--<ion-label class="lbl-net">No estás conectado a internet</ion-label>-->
</ion-content>

