
<ion-content [fullscreen]="true" class="codigo-principal">
  <div class="arriba"></div>
  <div class="segundario">
    <div class="title">SoftK</div>

    <div class="msn">
      Ya casi eres parte de nosotros
    </div>

    <ion-list class="form">
      <div class="title2">Verificar Cuenta</div>
      <ion-item>
      Para comenzar necesitamos que verificar que eres tu, por eso se ha enviando un código de seguridad  a tu correo electrónico, por favor ingresalo.
      </ion-item>

      <ion-item class="inputs">
        <ion-input class="input" [(ngModel)]="c1" type="number" labelPlacement="floating"></ion-input>
        <ion-input class="input" [(ngModel)]="c2" type="number" labelPlacement="floating"></ion-input>
        <ion-input class="input" [(ngModel)]="c3" type="number" labelPlacement="floating"></ion-input>
        <ion-input class="input" [(ngModel)]="c4" type="number" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item class="inputs">
        <ion-button  color="black" expand="block" (click)="this.NuevoCodigo()">No recibí ningún código</ion-button>
      </ion-item>

      <ion-button  color="medium" expand="block" (click)="this.verificar()">Verificar</ion-button>
       </ion-list>
  </div>
  <div class="abajo"></div>
</ion-content>
