  <ion-toolbar color="primary">
    <ion-title>Primary</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-title>Secondary</ion-title>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-title>Tertiary</ion-title>
  </ion-toolbar>
  <ion-toolbar color="success">
    <ion-title>Success</ion-title>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-title>Warning</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-title>Danger</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>Light</ion-title>
  </ion-toolbar>
  <ion-toolbar color="medium">
    <ion-title>Medium</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-title>Dark</ion-title>
  </ion-toolbar>
