@import "../../../global.scss";

ion-title{
  text-align: center;
  color: $cuarto-color;
  width: 90%;
  float: right;
}

ion-header ion-toolbar ion-item{
  width: 60px;
  margin-top: -10px;
  position: absolute;
}

ion-list{
  font-size: 20px;
  margin-top: 80px;
}

label{
  margin-left: 20px;
}

.input{
  font-size: 20px;
}

.item-inputs{
  margin-bottom: 30px;
}

.btn-verificar{
  font-size: 20px;
}

/*fondo*/
.abajo{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Ajusta la altura al 100% de la ventana */
  background: linear-gradient(to bottom left, $principal-color, $principal-color);
  clip-path: polygon(0 100%, 100% 100%, 0 0);
}

.abajo2{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom right, $principal-color, $cuarto-color,);
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

@media screen and (max-height: 600px){
  .abajo, .abajo2 {
    display: none;
  }
}

