<ion-content class="login" [fullscreen]="true">
  <div class="arriba"></div>
  <div class="segundario">
    <div class="title">SoftK</div>

    <div class="msn">
      Hola, estas aquí
      nuevamente!
    </div>

    <ion-list class="form">
      <div class="title2">Iniciar Sesión</div>

      <label class="lbl-login">Correo electrónico</label>
      <ion-item class="item-inputs">
        <ion-input
              placeholder="example@gmail.com"
              class="input"
              [(ngModel)]="this.login.email"
        ></ion-input>
    </ion-item>

      <label class="lbl-login" >Password</label>
      <ion-item class="item-inputs" >
        <ion-input
              class="input"
              type="password"
              [(ngModel)]="this.login.password"
              placeholder="Escribe aquí la contraseña">
        </ion-input>
      </ion-item>

      <ion-button class="btn-ingresar" color="medium" (click)="ingresar()" expand="block">Ingresar</ion-button>
    </ion-list>
    <ion-checkbox value="{{this.recordaremail}}" [(ngModel)]="this.recordaremail" (ionChange)="RecordarEmail()" labelPlacement="end">Recordar datos</ion-checkbox>
    <a class="recuperarPassword" [routerLink]="['/registrarse']" >Registrarme</a>
  <!-- <a class="recuperarPassword" [routerLink]="['/change-password']" >¿Recuperar contraseña?</a>-->
  </div>

  <div class="abajo"></div>
   <!--<ion-label class="lbl-net">No estás conectado a internet</ion-label>-->
</ion-content>
