<ion-content class="login" [fullscreen]="true">
  <div class="arriba">
    <div class="rayitas">
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
    </div>

    <div class="title">Cartera Virtual</div>
  </div>

    <ion-list class="form">
      <img src="../../../assets/logo2.png" alt="">
      <div class="title2">
        <span>INICIAR SESIÓN</span>
      </div>

      <div class="inputs" >
        <ion-label>Email</ion-label>
        <ion-input
          [class.error]="this.EmailmsnError"
          type="text"
          placeholder="Introduce tu correo electrónico"
          [(ngModel)]="this.login.email"
          ></ion-input>
          <ion-label *ngIf="this.EmailmsnError" class="lbl-error">Introduce un email valido</ion-label>
        </div>

        <div class="inputs">
          <ion-label>Contraseña</ion-label>
            <ion-input
             [type]="verPassword ? 'text' : 'password'"
             [(ngModel)]="this.login.password"
             placeholder="Introduce la contraseña"
             autocomplete="off"
             autocorrect="off"
             [clearOnEdit]="false"
             [class.error]="this.PasswordmsnError || this.Password2msnError"
             class="input-password"
            >
            </ion-input>
            <ion-label *ngIf="this.PasswordmsnError" class="lbl-error">Contraseña invalida</ion-label>
            <ion-label *ngIf="this.Password2msnError" class="lbl-error">*Ingresa la contraseña</ion-label>
          </div>
      <ion-button class="btn-ver" expand="block" color="white" (click)="this.VerPassword()" fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon [name]="verPassword ? 'eye-off' : 'eye'" color="white" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="btn-ingresar" (click)="ingresar()" expand="block">Ingresar</ion-button>
    <ul class="pie-list">
    <li><a class="link-registrar recuperarPassword" [routerLink]="['/registrarse']" >Soy nuevo registrarme</a></li>
    <li><a class="recuperarPassword" [routerLink]="['/change-password']" >¿Recuperar contraseña?</a></li>
    </ul>

    <ion-checkbox class="check" value="{{this.recordaremail}}" [(ngModel)]="this.recordaremail" (ionChange)="RecordarEmail()" labelPlacement="end">Recordar datos</ion-checkbox>
    </ion-list>

  <div class="msn">SoftK</div>
  <div class="abajo"></div>
   <!--<ion-label class="lbl-net">No estás conectado a internet</ion-label>-->
</ion-content>
