@import 'src/global.scss';

.login {
  --background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 30px;
  background-color: $principal-color;
  width: 85%;
  height: auto;
  margin-top: 1px;
  padding: 10px;
}

.title{
  margin-top: 5px;
  width: 100%;
  font-size: 35px;
  font-weight: bolder;
  color: $principal-color;
  text-align: center;
}

.title2 span{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  color: $fondo-color;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

img {
  width: 40%;
  height: 20%;
  display: flex;
  margin: auto;
  margin-bottom: 3%;
}

.rayitas{
  margin-top: 5px;
  margin-left: 5px;
}

.rayitas ion-icon{
  color: $principal-color;;
}

.msn {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 11px;
  z-index: 10;
}

a{
  color: #ff8a08;
  text-decoration: none;
  float: right;
}

.segundario{
  margin: 0 auto;
  padding: 10px;
}

ion-list{
  margin-bottom: 10px;
  background-color: none;
}

.btn-ingresar{
  margin-top: 35px !important;
  width: 100%;
  margin: 0 auto;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}

.inputs{
  color: $fondo-color;
}

ion-input{
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  background-color: $segundario-color;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
}

.link-registrar{
  margin-top: 25px;
}

ion-checkbox, .recuperarPassword{
  padding: 5px;
  color: white;
  font-size: 15px;
}

.recuperarPassword{
  margin-right: 30px;
}

ion-checkbox{
margin-top: 30px;
font-size: 12px;
}

ion-button {
  --background: $segundario-color;
  --background-hover: $segundario-color;
  --border-radius: 30px;
  --border-color: $fondo-color;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: $fondo-color;
}

@media screen and (max-height: 1340px){
  .form{
    width: 300px;
    height: 350px;
  }

  img {
    width: 80px;
    height: 50px;
  }


.title{
  font-size: 30px;
  margin-top: 1px;
}

.title2 span{
  font-size: 20px;
}

ion-input{
  margin-top: 5px;
  margin-bottom: 2px;
  height: auto;
}


.btn-ingresar{
  margin-top: 15px !important;
}


.link-registrar{
  margin-top: 25px;
}

.recuperarPassword{
  padding: 1px;
  font-size: 12px;
}

ion-checkbox{
margin-top: 10px;
}

}
