<ion-content class="login" [fullscreen]="true">
  <div class="arriba">
    <div class="rayitas">
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
      <ion-icon name="ellipse"></ion-icon>
    </div>

    <div class="title">Cartera Virutal</div>
  </div>

    <ion-list class="form">
      <img src="../../../assets/logo2.png" alt="">
      <div class="title2">
        <span>INICIAR SESIÓN</span>
      </div>

      <div class="inputs">
        <ion-label>Email</ion-label>
        <ion-input
          type="text"
          placeholder="Introduce tu correo electrónico"
          [(ngModel)]="this.login.email"
          ></ion-input>
        </div>

        <div class="inputs">
          <ion-label>Contraseña</ion-label>
          <ion-input
            type="password"
            placeholder="Introduce la contraseña"
            [(ngModel)]="this.login.password"
            ></ion-input>
          </div>

      <ion-button class="btn-ingresar" (click)="ingresar()" expand="block">Ingresar</ion-button>
      <ion-checkbox class="check" value="{{this.recordaremail}}" [(ngModel)]="this.recordaremail" (ionChange)="RecordarEmail()" labelPlacement="end">Recordar datos</ion-checkbox>
    <a class="link-registrar recuperarPassword" [routerLink]="['/registrarse']" >Registrarme</a>
    <a class="recuperarPassword" [routerLink]="['/change-password']" >¿Recuperar contraseña?</a>
    </ion-list>

  <div class="msn">Creado por SoftK: 01/01/2025</div>
  <div class="abajo"></div>
   <!--<ion-label class="lbl-net">No estás conectado a internet</ion-label>-->
</ion-content>
